@import '~normalize.css';
@import '~bootstrap/scss/bootstrap';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.card-img-top {
  max-height: 12em;
  object-fit: cover;
}

.card-text {
  font-feature-settings: "onum", "tnum", "zero";
  font-variant-numeric: tabular-nums slashed-zero oldstyle-nums;
  hanging-punctuation: first force-end last;
  hyphens: auto;
  line-height: 1.5;
  text-rendering: geometricPrecision;
}